<p>
  <strong>Name:</strong>
  <%= @habit.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @habit.description %>
</p>

<p>
  <strong>user:</strong>
  <%= @habit.user.email %>
</p>

<p>
  <strong>longest_streak:</strong>
  <%= @habit.longest_streak %>
</p>

<p>
  <strong>current streak:</strong>
  <%= @habit.current_streak %>
</p>
