<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <%= link_to 'Zen Coach', root_path, class: 'pure-menu-heading' %>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><%= link_to 'Home', root_path, class: 'pure-menu-link' %></li>
            <li class="pure-menu-item"><%= link_to 'Tour', tour_path, class: 'pure-menu-link' %></li>
            <li class="pure-menu-item"><%= link_to 'About', about_path, class: 'pure-menu-link' %></li>
            <li class="pure-menu-item"><%= link_to 'Register', new_user_registration_path, class: 'pure-menu-link' %></li>
            <li class="pure-menu-item"><%= link_to 'Sign In', new_user_session_path, class: 'pure-menu-link' %></li>
        </ul>
    </div>
</div>
